uvicorn==0.18.3
fastapi==0.82.0
orjson==3.8.0
clickhouse-sqlalchemy==0.2.2
alembic~=1.7.1
sqlmodel~=0.0.8
aiochclient[aiohttp-speedups]
gunicorn==20.1.0
asyncmy==0.2.5
PyMySQL[rsa]
celery==5.2.7
pydantic[dotenv]
mysql-connector-python==8.0.31